{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:flowtype/recommended",
    "plugin:mocha/recommended"
  ],
  "plugins": [
    "flowtype",
    "mocha"
  ]
}